:root {
  --flowstica-webflow-library-black: #010b15;
  --flowstica-webflow-library-medium-sea-green: #08b54f;
  --flowstica-webflow-library-white: white;
  --flowstica-webflow-library-white-smoke: #f7f7f7;
  --flowstica-webflow-library-black-2: #333;
  --flowstica-webflow-library-honeydew: #cef0dc;
  --walsh-black: #2c2c2c;
  --walsh-walsh-dark-green: #204f58;
  --walsh-azure: #e7f1f1;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  color: #333;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.wbs-cta-image-right {
  z-index: 0;
  height: 150px;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
  transform: rotate(20deg);
}

.wbs-cta-image-left {
  z-index: 0;
  height: 150px;
  position: absolute;
  top: 5%;
  bottom: auto;
  left: 0%;
  right: auto;
  transform: rotate(-20deg);
}

.wbs-button-link {
  color: var(--flowstica-webflow-library-black);
  border-radius: 6px;
  font-size: 15px;
  font-weight: 700;
  transition: all .3s ease-in-out;
}

.wbs-error-message {
  color: #fff;
  text-align: center;
  background-color: #e92222;
  border-radius: 6px;
  padding: 15px 20px;
}

.wbs-success-message {
  color: #fff;
  text-align: center;
  background-color: #03cd69;
  border-radius: 6px;
  padding: 15px;
}

.wbs-button-subscribe {
  background-color: var(--flowstica-webflow-library-medium-sea-green);
  color: var(--flowstica-webflow-library-white);
  text-align: center;
  border-radius: 6px;
  padding: 13px 30px;
  font-size: 15px;
  font-weight: 700;
  transition: background-color .3s ease-in-out;
  position: absolute;
  top: 9px;
  bottom: auto;
  left: auto;
  right: 9px;
}

.wbs-button-subscribe:hover {
  background-color: var(--flowstica-webflow-library-black);
}

.wbs-form-subscribe-input {
  height: 3.9rem;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 10px;
  padding: 10px 15px;
  transition: border-color .3s ease-in-out;
}

.wbs-form-subscribe-input:focus {
  border-color: var(--flowstica-webflow-library-black);
}

.wbs-subscribe-input-group {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  display: flex;
  position: relative;
}

.wbs-subscribe {
  max-width: 45%;
  margin-left: auto;
  margin-right: auto;
}

.wbs-spacing-30 {
  height: 1.875rem;
}

.wbs-heading-h5 {
  color: var(--flowstica-webflow-library-black);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 1.3em;
}

.wbs-cta-content {
  z-index: 1;
  position: relative;
}

.wbs-cta-1 {
  background-color: var(--flowstica-webflow-library-white-smoke);
  text-align: center;
  border-radius: 10px;
  padding: 90px 70px;
  position: relative;
  overflow: hidden;
}

.wbs-container {
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.wbs-section {
  padding: 6.25rem 5%;
}

.text-block {
  position: static;
}

.wbs-accordion-2-description {
  margin-bottom: 20px;
}

.wbs-accordion-2-content {
  padding-top: 10px;
  padding-left: 40px;
  overflow: hidden;
}

.wbs-accordion-2-title {
  color: var(--flowstica-webflow-library-black);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
}

.wbs-accordion-2-icon-minus {
  width: 20px;
  height: 2px;
  background-color: #101010;
  position: absolute;
  top: auto;
  bottom: auto;
  left: 0%;
  right: 0%;
  transform: rotate(90deg);
}

.wbs-accordion-2-icon-plus {
  width: 20px;
  height: 2px;
  background-color: #101010;
}

.wbs-accordion-2-icon-wrap {
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.wbs-accordion-2-heading {
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  cursor: pointer;
  align-items: center;
  display: flex;
}

.wbs-accordion-2-item {
  border: 1px solid rgba(1, 11, 21, .12);
  border-radius: 10px;
  padding: 15px 20px 5px;
}

.wbs-accordion-2 {
  width: 60%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.wbs-container-2 {
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.wbs-section-2 {
  padding: 6.25rem 5%;
}

.wbs-hero-7-image {
  width: 80%;
  border: 1px solid rgba(1, 11, 21, .1);
  border-radius: 10px;
  margin-top: -480px;
}

.wbs-spacing-40 {
  height: 2.5rem;
}

.wbs-button-link-icon-image {
  height: 20px;
}

.wbs-button-link-icon-white {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  color: var(--flowstica-webflow-library-white);
  border-radius: 6px;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  transition: all .3s ease-in-out;
  display: flex;
}

.wbs-button-primary-1 {
  background-color: var(--flowstica-webflow-library-medium-sea-green);
  color: var(--flowstica-webflow-library-white);
  text-align: center;
  border-radius: 6px;
  padding: 13px 30px;
  font-size: 15px;
  font-weight: 700;
  transition: background-color .3s ease-in-out;
}

.wbs-button-primary-1:hover {
  background-color: var(--flowstica-webflow-library-black);
}

.wbs-hero-3-button {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.wbs-spacing-41 {
  height: 1.875rem;
}

.wbs-hero-7-lead-text {
  color: var(--flowstica-webflow-library-white-smoke);
  font-size: 1.125rem;
  line-height: 1.6rem;
}

.wbs-hero-7-title {
  color: var(--flowstica-webflow-library-white-smoke);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 1.3em;
}

.wbs-hero-title-wrap-center {
  text-align: center;
}

.wbs-hero-inner-7-content {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.wbs-hero-7-content {
  background-color: var(--flowstica-webflow-library-black);
  padding-top: 80px;
  padding-bottom: 500px;
}

.wbs-hero-7 {
  text-align: center;
}

.wbs-hero-2-image {
  z-index: -1;
  height: 480px;
  position: absolute;
  top: -7%;
  bottom: 0%;
  left: auto;
  right: 0%;
  transform: rotate(-10deg);
}

.wbs-hero-2-rating-content {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  display: flex;
}

.wbs-hero-2-rating-client-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: -15px;
}

.wbs-hero-2-rating-wrap {
  margin-left: 15px;
}

.wbs-hero-2-rating {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.wbs-spacing-42 {
  height: 1.875rem;
}

.wbs-button-link-icon {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  color: var(--flowstica-webflow-library-black);
  border-radius: 6px;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  transition: all .3s ease-in-out;
  display: flex;
}

.wbs-button-black {
  background-color: var(--flowstica-webflow-library-black);
  color: var(--flowstica-webflow-library-white);
  border-radius: 6px;
  padding: 13px 30px;
  font-size: 15px;
  font-weight: 700;
  transition: all .3s ease-in-out;
}

.wbs-button-black:hover {
  background-color: var(--flowstica-webflow-library-black-2);
  color: var(--flowstica-webflow-library-white);
}

.wbs-hero-2-button {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  display: flex;
}

.wbs-lead-text {
  color: var(--flowstica-webflow-library-black);
  font-size: 1.125rem;
  line-height: 1.6rem;
}

.wbs-heading-h1 {
  color: var(--flowstica-webflow-library-black);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 1.3em;
}

.wbs-hero-2-tagline {
  color: var(--flowstica-webflow-library-medium-sea-green);
}

.wbs-hero-2 {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

.wbs-hero-wrap {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  position: relative;
}

.wbs-feature-list-item {
  grid-column-gap: 10px;
  display: flex;
}

.wbs-feature-list-items {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  display: flex;
}

.wbs-feature-split-3-list {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  border-top: 1px solid rgba(1, 11, 21, .1);
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-top: 40px;
  display: grid;
}

.wbs-spacing-20 {
  height: 1.25rem;
}

.wbs-heading-h4 {
  color: var(--flowstica-webflow-library-black);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.125rem;
  font-weight: 700;
  line-height: 1.3em;
}

.wbs-feature-image {
  border-radius: 10px;
}

.wbs-feature-split-3 {
  width: 85%;
  grid-column-gap: 40px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: .5fr .5fr;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-items: start;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

.wbs-pricing-3-text-white {
  color: var(--flowstica-webflow-library-white);
}

.wbs-button-white {
  background-color: var(--flowstica-webflow-library-white);
  color: var(--flowstica-webflow-library-black);
  border-radius: 6px;
  padding: 13px 30px;
  font-size: 15px;
  font-weight: 700;
  transition: all .3s ease-in-out;
}

.wbs-button-white:hover {
  background-color: var(--flowstica-webflow-library-medium-sea-green);
  color: var(--flowstica-webflow-library-white);
}

.wbs-pricing-3-box-button {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  text-align: center;
  flex-direction: column;
  margin-top: auto;
  display: flex;
}

.wbs-pricing-3-box-price {
  color: var(--flowstica-webflow-library-white);
  font-size: 22px;
}

.wbs-pricing-3-box-title {
  color: var(--flowstica-webflow-library-white);
}

.wbs-pricing-3-box {
  height: 100%;
  background-color: var(--flowstica-webflow-library-medium-sea-green);
  border-radius: 10px;
  flex-direction: column;
  padding: 30px;
  display: flex;
}

.wbs-pricing-3-list-icon {
  height: 20px;
  padding-top: 0;
}

.wbs-pricing-3-list-item {
  grid-column-gap: 10px;
  align-items: flex-start;
  display: flex;
}

.wbs-pricing-3-list {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  margin-top: 30px;
  padding-bottom: 50px;
  display: flex;
}

.wbs-heading-h6 {
  color: var(--flowstica-webflow-library-black);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.3em;
}

.wbs-pricing-3-feature-list {
  background-color: var(--flowstica-webflow-library-honeydew);
  border-radius: 10px;
  padding: 30px;
}

.wbs-pricing-3-price-month {
  color: var(--flowstica-webflow-library-black);
  margin-bottom: 5px;
}

.wbs-pricing-3-price {
  color: var(--flowstica-webflow-library-black);
  margin-top: 0;
  margin-bottom: 0;
}

.wbs-pricing-3-price-wrap {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  align-items: flex-end;
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
}

.wbs-pricing-3-icon {
  height: 150px;
  margin-bottom: 30px;
}

.wbs-pricing-3-wrap {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.wbs-testimonial-avatar-name {
  color: var(--flowstica-webflow-library-black);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
}

.wbs-testimonial-avatar-name-wrap {
  text-align: left;
}

.wbs-blog-avatar-image {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.wbs-testimonial-avatar {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  align-items: center;
  margin-top: 30px;
  display: flex;
}

.wbs-testimonial-content {
  color: var(--flowstica-webflow-library-black);
}

.wbs-testimonial-star-image {
  margin-bottom: 10px;
}

.wbs-testimonial-item {
  border: 1px solid rgba(1, 11, 21, .12);
  border-radius: 10px;
  padding: 1.875rem;
}

.wbs-testimonials-items {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-wrap: wrap;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  display: grid;
}

.walsh-image-logo-medium {
  max-height: 3.5em;
  max-width: 11em;
  min-height: 3.5em;
  object-fit: contain;
}

.walsh-logo-wrapper-transparent {
  width: auto;
  justify-content: center;
  align-items: center;
  padding: 2.5em 2em;
  display: flex;
}

.walsh-main-grid-no-gap {
  width: 100%;
  grid-column-gap: 0em;
  grid-row-gap: 0em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: start;
  position: relative;
}

.walsh-heading-large-white {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 4.8em;
  font-weight: 700;
  line-height: 1;
}

.walsh-label-tag {
  color: rgba(0, 0, 0, .6);
  text-align: left;
  letter-spacing: 0;
  text-transform: uppercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
}

.walsh-tag-light {
  color: #fff;
  background-color: rgba(172, 255, 207, .45);
  border-radius: 200px;
  align-items: center;
  padding: 7px 20px;
  display: flex;
  overflow: hidden;
}

.wash-medium-wrapper {
  max-width: 60em;
  grid-row-gap: 3em;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 6em;
  display: flex;
}

.walsh-container-padding-large {
  z-index: 2;
  width: 100%;
  max-width: 1480px;
  flex: none;
  margin-left: auto;
  margin-right: auto;
  padding: 10em 4.5em;
  position: relative;
}

.walsh-logo-grey-dark-wrapper {
  background-color: #2e3333;
}

.walsh-image-logo {
  width: 100%;
  max-height: 24px;
  max-width: 132px;
  object-fit: contain;
}

.walsh-text-small-left {
  color: rgba(0, 0, 0, .5);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.walsh-heading-small {
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1.25em;
  font-weight: 700;
  line-height: 1.25;
}

.walsh-info-wrap {
  text-align: left;
}

.walsh-cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex: 1;
}

.walsh-circle-image {
  width: 60px;
  height: 60px;
  background-color: #dfdfdf;
  border-radius: 200px;
  overflow: hidden;
}

.walsh-profile-wrapper {
  grid-column-gap: 20px;
  align-items: center;
  display: flex;
}

.walsh-flex-col-wide {
  width: 100%;
  grid-column-gap: 2em;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.walsh-image-ratings {
  max-height: 16px;
  margin-right: 5px;
}

.walsh-ratings-wrapper {
  align-items: center;
  padding-top: 7px;
  padding-bottom: 7px;
  display: flex;
}

.walsh-main-paragraph {
  color: rgba(0, 0, 0, .6);
  letter-spacing: 0;
  font-family: Merriweather, serif;
  font-size: 1.45em;
  line-height: 1.5;
}

.walsh-heading-medium {
  color: var(--walsh-black);
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 3.2em;
  font-weight: 700;
  line-height: 1.1;
}

.walsh-quote-image {
  height: 56px;
  opacity: .26;
}

.walsh-content-wrapper-gap {
  grid-row-gap: 1.25em;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  position: relative;
}

.walsh-rounded-box {
  grid-row-gap: 1.2em;
  background-color: #fff;
  border-radius: 15px;
  flex-direction: column;
  padding: 40px;
  display: flex;
}

.walsh-main-grid {
  width: 100%;
  grid-column-gap: 2.2em;
  grid-row-gap: 2.2em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: start;
  position: relative;
}

.walsh-container {
  z-index: 2;
  width: 100%;
  max-width: 1480px;
  flex: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.walsh-button-fill {
  width: 15em;
  height: 8em;
  background-color: #4ab1bd;
  border-radius: 200px;
  position: absolute;
}

.walsh-arrow-top-right {
  z-index: 1;
  width: 1.25rem;
  position: relative;
}

.walsh-button-circle {
  width: 14em;
  height: 7em;
  background-color: #ff715b;
  border-radius: 200px;
  flex: none;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.walsh-button-circle:hover {
  background-color: #fcb55e;
}

.walsh-paragraph-serif-left-hero {
  max-width: 22em;
  color: rgba(255, 255, 255, .8);
  margin-bottom: .75em;
  font-family: Merriweather, serif;
  font-size: 1.4em;
  line-height: 1.6;
}

.walsh-hero-p-wrapper {
  width: 100%;
  max-width: 36em;
}

.walsh-text-marker-green {
  color: #214f58;
  background-image: url('../images/span-marker-2.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  padding: .1em;
  display: inline-block;
}

.walsh-heading-xlarge-white {
  color: #fff;
  letter-spacing: -.02em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 6.65em;
  font-weight: 700;
  line-height: 1;
}

.walsh-left-hero {
  width: 100%;
  grid-row-gap: 2em;
  color: #fff;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5em;
  padding-bottom: 5em;
  display: flex;
}

.walsh-image-hero {
  max-height: 45em;
}

.walsh-hero-inner-image {
  justify-content: center;
  align-items: flex-end;
  padding-top: 35px;
  display: flex;
}

.walsh-background-darkgreen {
  background-color: var(--walsh-walsh-dark-green);
  position: relative;
}

.walsh-button-orange {
  z-index: 5;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #ff715b;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  padding: 1.2em 35px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  transition: background-color .2s cubic-bezier(.645, .045, .355, 1);
  display: flex;
  position: relative;
}

.walsh-button-orange:hover {
  color: #fff;
  background-color: #ffa286;
}

.walsh-icon-check {
  height: 9px;
}

.walsh-circle-check {
  width: 24px;
  height: 24px;
  background-color: rgba(147, 255, 65, .2);
  border-radius: 100px;
  flex: none;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  display: flex;
}

.walsh-list-flex {
  color: rgba(0, 0, 0, .65);
  text-align: left;
  align-items: center;
  padding-top: 7px;
  padding-bottom: 7px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 16px;
  display: flex;
}

.walsh-list-wrapper {
  width: 100%;
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.walsh-text-grey {
  color: rgba(44, 44, 44, .5);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
}

.walsh-price-small {
  color: rgba(0, 0, 0, .45);
  padding-left: 2px;
  padding-right: 2px;
  font-size: 32px;
  font-weight: 400;
}

.walsh-price {
  color: var(--walsh-black);
  margin-bottom: 0;
  padding-top: .18em;
  padding-bottom: .18em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 5em;
  font-weight: 700;
  line-height: .8;
}

.walsh-price-wrapper {
  width: 100%;
  grid-row-gap: .6em;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.walsh-heading-small-alt {
  color: rgba(0, 0, 0, .6);
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 100px;
  padding: 10px 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1.25em;
  font-weight: 600;
  line-height: 1.25;
}

.walsh-pricing-card-block {
  grid-row-gap: 2.5em;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3em;
  display: flex;
  box-shadow: inset 1px 1px #d3d3d3, 1px 1px #d3d3d3;
}

.walsh-circle-check-off {
  width: 24px;
  height: 24px;
  opacity: .35;
  background-color: rgba(176, 178, 178, .28);
  border-radius: 100px;
  flex: none;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  display: flex;
}

.walsh-list-flex-off {
  color: rgba(145, 145, 145, .54);
  text-align: left;
  align-items: center;
  padding-top: 7px;
  padding-bottom: 7px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 16px;
  text-decoration: line-through;
  display: flex;
}

.walsh-pricing-card-block-featured {
  grid-row-gap: 2.5em;
  background-color: var(--walsh-azure);
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3em;
  display: flex;
  position: relative;
  box-shadow: inset 1px 1px #d3d3d3, 1px 1px #d3d3d3;
}

.walsh-full-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.button {
  float: none;
  clear: none;
  text-align: center;
  text-transform: uppercase;
  word-break: normal;
  mix-blend-mode: normal;
  border-radius: 8px;
  margin-left: auto;
  padding-left: 20px;
  font-weight: 700;
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
}

@media screen and (max-width: 991px) {
  .wbs-cta-image-right, .wbs-cta-image-left {
    display: none;
  }

  .wbs-subscribe {
    max-width: 100%;
  }

  .wbs-cta-1 {
    padding: 40px;
  }

  .wbs-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .wbs-accordion-2 {
    width: 100%;
  }

  .wbs-section-2 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .wbs-hero-7-title {
    font-size: 3.2rem;
    line-height: 1.2em;
  }

  .wbs-hero-7 {
    max-width: 100%;
  }

  .wbs-hero-2-image {
    position: static;
  }

  .wbs-heading-h1 {
    font-size: 3.2rem;
    line-height: 1.2em;
  }

  .wbs-hero-2 {
    grid-template-columns: 1fr;
  }

  .wbs-feature-image {
    width: 100%;
  }

  .wbs-feature-split-3 {
    width: 100%;
    grid-row-gap: 40px;
    grid-template-columns: 1fr;
  }

  .wbs-pricing-3-wrap {
    grid-template-columns: 1fr;
  }

  .wbs-testimonial-avatar {
    grid-row-gap: 10px;
    flex-direction: column;
    align-items: flex-start;
  }

  .wbs-testimonials-items {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  .walsh-image-logo-medium {
    max-height: 9em;
  }

  .walsh-logo-wrapper-transparent {
    width: auto;
  }

  .walsh-main-grid-no-gap {
    grid-template-columns: 1fr 1fr;
  }

  .wash-medium-wrapper {
    max-width: 100%;
  }

  .walsh-container-padding-large {
    width: auto;
    flex: 0 auto;
    padding-top: 8em;
    padding-bottom: 8em;
  }

  .walsh-image-logo {
    height: 100%;
    max-height: 50px;
    max-width: 120px;
  }

  .walsh-main-grid {
    grid-template-columns: 1fr 1fr;
  }

  .walsh-container {
    width: auto;
    flex: 0 auto;
  }

  .walsh-button-fill {
    display: none;
  }

  .walsh-paragraph-serif-left-hero {
    max-width: none;
  }

  .walsh-heading-xlarge-white {
    font-size: 4em;
  }

  .walsh-image-hero {
    width: 100%;
    max-width: none;
  }

  .walsh-button-orange {
    padding: 18px 40px;
  }

  .walsh-button-orange:hover {
    background-color: rgba(128, 128, 128, .2);
  }

  .walsh-icon-check {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .wbs-section, .wbs-section-2 {
    padding: 2rem 2%;
  }

  .wbs-hero-7-image {
    margin-top: -210px;
  }

  .wbs-hero-7-title {
    font-size: 2.4rem;
    line-height: 1.1em;
  }

  .wbs-hero-inner-7-content {
    width: 90%;
  }

  .wbs-hero-7-content {
    padding-top: 50px;
    padding-bottom: 220px;
  }

  .wbs-hero-2-image {
    height: auto;
    margin-top: 1.875rem;
  }

  .wbs-heading-h1 {
    font-size: 2.4rem;
    line-height: 1.1em;
  }

  .wbs-testimonial-avatar {
    flex-direction: row;
    align-items: center;
  }

  .wbs-testimonials-items {
    grid-template-columns: 1fr;
  }

  .walsh-image-logo-medium {
    max-height: 9em;
    max-width: 9em;
  }

  .walsh-heading-large-white {
    font-size: 2.4em;
  }

  .wash-medium-wrapper {
    grid-row-gap: 2em;
    padding-bottom: 4em;
  }

  .walsh-container-padding-large {
    padding: 6em 3.5em;
  }

  .walsh-heading-medium {
    font-size: 2.4em;
  }

  .walsh-rounded-box {
    grid-row-gap: 1.5em;
  }

  .walsh-main-grid {
    grid-column-gap: 1em;
    grid-row-gap: 2em;
  }

  .walsh-paragraph-serif-left-hero {
    font-size: 1.4em;
  }

  .walsh-heading-xlarge-white {
    font-size: 3em;
  }

  .walsh-left-hero {
    padding-top: 3em;
    padding-bottom: 0;
  }

  .walsh-button-orange {
    width: 100%;
    font-size: 16px;
  }

  .walsh-price-wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .wbs-button-subscribe {
    position: static;
  }

  .wbs-subscribe-input-group {
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .wbs-cta-1 {
    padding: 20px 20px 10px;
  }

  .wbs-accordion-2-title {
    padding-right: 20px;
  }

  .wbs-hero-7-image {
    margin-top: -120px;
  }

  .wbs-hero-3-button {
    flex-direction: column;
    align-items: center;
  }

  .wbs-hero-7-title {
    font-size: 2.3rem;
  }

  .wbs-hero-inner-7-content {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .wbs-hero-7-content {
    padding-bottom: 120px;
  }

  .wbs-hero-2-image {
    height: auto;
    margin-top: 31px;
  }

  .wbs-hero-2-button {
    flex-direction: column;
    align-items: flex-start;
  }

  .wbs-heading-h1 {
    font-size: 2.3rem;
  }

  .wbs-feature-split-3-list {
    grid-column-gap: 0px;
    grid-row-gap: 10px;
    grid-template-columns: 1fr;
    padding-top: 30px;
  }

  .wbs-heading-h4 {
    font-size: 1.7rem;
  }

  .walsh-image-logo-medium {
    max-height: 7em;
    max-width: 7em;
    min-height: 1.5em;
  }

  .walsh-logo-wrapper-transparent {
    flex: 0 50%;
    order: 1;
    padding: 35px 10px;
  }

  .walsh-heading-large-white {
    font-size: 2em;
    line-height: 1.2;
  }

  .walsh-label-tag {
    font-size: 12px;
  }

  .walsh-tag-light {
    text-align: left;
  }

  .wash-medium-wrapper {
    padding-bottom: 3em;
  }

  .walsh-container-padding-large {
    width: 100%;
    flex: 0 auto;
    padding: 4em 2.5em;
  }

  .walsh-image-logo {
    max-height: 20px;
    max-width: none;
  }

  .walsh-text-small-left {
    font-size: 13px;
  }

  .walsh-heading-small {
    font-size: 1em;
  }

  .walsh-circle-image {
    flex: none;
  }

  .walsh-flex-col-wide {
    grid-row-gap: 1.25em;
    flex-wrap: wrap;
  }

  .walsh-main-paragraph {
    font-size: 1em;
  }

  .walsh-heading-medium {
    font-size: 1.8em;
  }

  .walsh-content-wrapper-gap {
    grid-row-gap: 1.2em;
  }

  .walsh-rounded-box {
    padding: 30px;
  }

  .walsh-container {
    width: 100%;
    flex: 0 auto;
  }

  .walsh-button-circle {
    width: 5em;
    height: 5em;
  }

  .walsh-paragraph-serif-left-hero {
    text-align: center;
    font-size: 1.2em;
  }

  .walsh-left-hero {
    text-align: center;
    align-items: center;
    padding-top: 30px;
    font-size: 18px;
  }

  .walsh-button-orange {
    width: 100%;
    justify-content: center;
    padding-left: 25px;
    padding-right: 25px;
  }

  .walsh-icon-check {
    margin-bottom: 0;
  }

  .walsh-list-flex {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-size: 16px;
  }

  .walsh-price {
    font-size: 40px;
  }

  .walsh-heading-small-alt {
    font-size: 1em;
  }

  .walsh-pricing-card-block {
    padding: 40px 30px;
  }

  .walsh-list-flex-off {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
  }

  .walsh-pricing-card-block-featured {
    padding: 30px 30px 40px;
  }

  .walsh-full-image {
    width: 100%;
    max-height: none;
    max-width: none;
    object-fit: cover;
    flex: 0 auto;
  }
}

#w-node-_2ed59282-e8f1-3fd2-6ef6-5f263bcca7a2-8afd34ae {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-_83572fb2-ede8-062f-9928-d24ccc5916c4-d7a315e2, #w-node-_83572fb2-ede8-062f-9928-d24ccc5916f2-d7a315e2 {
  grid-area: span 1 / span 4 / span 1 / span 4;
  align-self: stretch;
}

#w-node-_0b0e183d-df7b-7c1d-2fa6-2d6763fce5ed-d7a315e2, #w-node-_0b0e183d-df7b-7c1d-2fa6-2d6763fce5f8-d7a315e2, #w-node-_0b0e183d-df7b-7c1d-2fa6-2d6763fce603-d7a315e2, #w-node-_0fbbd88a-9bce-cbba-0d21-3aa92c44593d-d7a315e2, #w-node-_0fbbd88a-9bce-cbba-0d21-3aa92c44593f-d7a315e2, #w-node-_0fbbd88a-9bce-cbba-0d21-3aa92c445947-d7a315e2, #w-node-_0fbbd88a-9bce-cbba-0d21-3aa92c445948-d7a315e2, #w-node-_0fbbd88a-9bce-cbba-0d21-3aa92c445959-d7a315e2 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_5533a2f3-687f-4c4b-60b6-8b242817ac7b-d7a315e2, #w-node-_5533a2f3-687f-4c4b-60b6-8b242817ac7d-d7a315e2, #w-node-_5533a2f3-687f-4c4b-60b6-8b242817ac7f-d7a315e2, #w-node-_5533a2f3-687f-4c4b-60b6-8b242817ac81-d7a315e2, #w-node-_5533a2f3-687f-4c4b-60b6-8b242817ac83-d7a315e2, #w-node-_5533a2f3-687f-4c4b-60b6-8b242817ac85-d7a315e2, #w-node-_5533a2f3-687f-4c4b-60b6-8b242817ac87-d7a315e2, #w-node-_5533a2f3-687f-4c4b-60b6-8b242817ac89-d7a315e2, #w-node-_5533a2f3-687f-4c4b-60b6-8b242817ac8b-d7a315e2, #w-node-_5533a2f3-687f-4c4b-60b6-8b242817ac8d-d7a315e2, #w-node-_5533a2f3-687f-4c4b-60b6-8b242817ac8f-d7a315e2, #w-node-_5533a2f3-687f-4c4b-60b6-8b242817ac91-d7a315e2 {
  grid-area: span 1 / span 3 / span 1 / span 3;
  align-self: stretch;
}

#w-node-_8c77931e-0f52-6f38-7d67-0e071a60d444-d7a315e2 {
  grid-area: 1 / 6 / 2 / 13;
  align-self: end;
  justify-self: end;
}

#w-node-_8c77931e-0f52-6f38-7d67-0e071a60d446-d7a315e2 {
  grid-area: 1 / 1 / 2 / 6;
  align-self: center;
}

#w-node-faf62df9-133e-0d13-117f-26b29acf67b7-d7a315e2 {
  grid-area: 1 / 1 / 2 / 7;
  align-self: start;
}

#w-node-faf62df9-133e-0d13-117f-26b29acf67cf-d7a315e2 {
  grid-area: 1 / 7 / 2 / 13;
  align-self: stretch;
}

#w-node-_1900c6ff-50e8-ad2c-3df3-04549031fa70-d7a315e2 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: end;
}

#w-node-_1900c6ff-50e8-ad2c-3df3-04549031fa7a-d7a315e2 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 991px) {
  #w-node-_83572fb2-ede8-062f-9928-d24ccc5916c4-d7a315e2, #w-node-_83572fb2-ede8-062f-9928-d24ccc5916f2-d7a315e2 {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }

  #w-node-_5533a2f3-687f-4c4b-60b6-8b242817ac7b-d7a315e2, #w-node-_5533a2f3-687f-4c4b-60b6-8b242817ac7d-d7a315e2, #w-node-_5533a2f3-687f-4c4b-60b6-8b242817ac7f-d7a315e2, #w-node-_5533a2f3-687f-4c4b-60b6-8b242817ac81-d7a315e2, #w-node-_5533a2f3-687f-4c4b-60b6-8b242817ac83-d7a315e2, #w-node-_5533a2f3-687f-4c4b-60b6-8b242817ac85-d7a315e2, #w-node-_5533a2f3-687f-4c4b-60b6-8b242817ac87-d7a315e2, #w-node-_5533a2f3-687f-4c4b-60b6-8b242817ac89-d7a315e2, #w-node-_5533a2f3-687f-4c4b-60b6-8b242817ac8b-d7a315e2, #w-node-_5533a2f3-687f-4c4b-60b6-8b242817ac8d-d7a315e2, #w-node-_5533a2f3-687f-4c4b-60b6-8b242817ac8f-d7a315e2, #w-node-_5533a2f3-687f-4c4b-60b6-8b242817ac91-d7a315e2 {
    grid-column: span 1 / span 1;
  }

  #w-node-_8c77931e-0f52-6f38-7d67-0e071a60d444-d7a315e2 {
    grid-area: 2 / 1 / 3 / 3;
  }

  #w-node-_8c77931e-0f52-6f38-7d67-0e071a60d446-d7a315e2 {
    grid-area: 1 / 1 / 2 / 3;
  }

  #w-node-faf62df9-133e-0d13-117f-26b29acf67b7-d7a315e2, #w-node-faf62df9-133e-0d13-117f-26b29acf67cf-d7a315e2 {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_83572fb2-ede8-062f-9928-d24ccc5916c4-d7a315e2, #w-node-_83572fb2-ede8-062f-9928-d24ccc5916f2-d7a315e2 {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_83572fb2-ede8-062f-9928-d24ccc5916c4-d7a315e2, #w-node-_83572fb2-ede8-062f-9928-d24ccc5916f2-d7a315e2 {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }

  #w-node-_8c77931e-0f52-6f38-7d67-0e071a60d444-d7a315e2 {
    grid-area: 2 / 1 / 3 / 3;
  }

  #w-node-_8c77931e-0f52-6f38-7d67-0e071a60d446-d7a315e2 {
    grid-area: 1 / 1 / 2 / 3;
    justify-self: center;
  }
}


